@import url(https://fonts.bunny.net/css?family=space-grotesk);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%; /* Makes the background image fill the window  */

    /* Font Sizes */
    h1 { font-size: 2em; }
    h2 { font-size: 1.7411em; }
    h3 { font-size: 1.5157em; }
    h4 { font-size: 1.3195em; }
    h5 { font-size: 1.1487em; }
    p { font-size: 1em; }

    body {
        height: 100%;

        background-image: url("./assets/spiral-galaxy.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        flex-direction: column;
        align-items: center;

        font-family: 'Space Grotesk', sans-serif;
        font-weight: normal;

        header, #content, footer {
            background-color: rebeccapurple;
            color: white;
        }

        header, footer {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        header {
            height: 5vh;
            margin-bottom: auto;

            nav {
                display: flex;
                justify-content: center;
                gap: 4vw;

                button {
                    border: none;
                    border-radius: 5px;
                    background-color: transparent;
                    color: white;

                    padding-block: 0.5vh;
                    padding-inline: 1vw;

                    font-size: 1.3195em;
                    font-family: inherit;
                    min-width: 8ch;

                    &:hover {
                        background-color: cornflowerblue;
                        color: black;
                    }
                }
            }
        }

        #content {
            height: 60%;
            width: 60%;
            padding: 3vh 4vw;

            display: flex;
            flex-direction: column;
            gap: 2vh;

            max-inline-size: 66ch;
            text-align: justify;
        }

        footer {
            height: 3vh;
            margin-top: auto;

            display: flex;
            gap: 2vw;
        }

        /* Links */
        a {
            text-decoration: none;
        }

        a:link {
            color: cornflowerblue;
        }

        a:visited {
            color: greenyellow;
        }
    }
}
